src/FluxoCaixa.Lancamentos/bin/
src/FluxoCaixa.Lancamentos/obj/
src/FluxoCaixa.Consolidado/bin/
src/FluxoCaixa.Consolidado/obj/
Tests/FluxoCaixa.Consolidado.Tests/bin/
Tests/FluxoCaixa.Consolidado.Tests/obj/
Tests/FluxoCaixa.Lancamentos.Tests/bin/
Tests/FluxoCaixa.Lancamentos.Tests/obj/
